@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Dodaj produkt";
}
@model Product

<form asp-action="Create" asp-controller="Admin">
    <div class="form-group">
        <label asp-for="Title">Item name</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Add new item" />
    </div>

</form>